$color-darkest-blue: #141519;
$color-card: #1f2630;
$color-orange: #fc7613;
$color-light-font: #959eac;
$color-light-blue: #262f38;
$font: "Overpass", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: $color-darkest-blue;
  font-family: $font;
}
.input {
  background: $color-card;
  width: 525px;
  border-radius: 40px;
  padding-bottom: 23px;
}

.star {
  margin-left: 35px;

  background-color: $color-light-blue;
  padding: 14px;
  border-radius: 50%;
  margin-top: 33px;
  height: 54px;
}
.title {
  margin-left: 35px;

  margin-top: 31px;
  font-size: 35px;
}
.body {
  margin-left: 35px;

  margin-top: 13px;
  color: $color-light-font;
  width: 410px;
  font-size: 19px;
  line-height: 28px;
}
.ratings {
  margin-left: 35px;

  list-style: none;
  display: flex;
  gap: 50px;
  padding-left: 0;
  &-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: $color-light-font;
    background-color: $color-light-blue;
    padding: 10px;
    border-radius: 50%;
    &:hover {
      background: $color-orange;
      cursor: pointer;
    }
  }
}
.default {
  display: none;
}
.clicked {
  color: #fff;
  background-color: $color-light-font;
  &:hover {
    background-color: $color-light-font;
    cursor: auto;
  }
}

.inactive {
  display: none !important;
}

.title {
  color: #fff;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button {
  border: none;
  background: $color-orange;
  color: #fff;
  margin-top: 31px;
  border-radius: 40px;
  padding: 9px 183px;
  text-transform: uppercase;
  &:hover {
    background-color: #fff;
    color: $color-orange;
    cursor: pointer;
  }
}

.confirmation-page {
  background: $color-card;
  width: 525px;
  border-radius: 40px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thanks-picture{
  margin-top: 50px;
}

.selection{
  margin-top: 40px;
  color: $color-orange;
  background-color: $color-light-blue;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 50px;
}
.thanks {
  color: #fff;
}
.thank-you-body{
  width: 366px;
  text-align: center;
  margin-bottom: 30px;
  color: $color-light-font;
}