@import "base";
@import "buttons";
@import "text";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');

body {
  font-size: 18px;
  margin: 0 73px;
  background-image: url(/images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
}
.nav {
  @include flex-row;
  @include space-between;
  margin-top: 47px;
}
.hero {
  @include flex-row;
  margin-top: 98px;
  &__text {
    @include flex-column;
    margin-right: 100px;
    margin-top: 87px;
  }
  &__header {
    max-width: 384px;
    font-family: $font-poppins;
    font-size: 35px;
    @include font-semi-bold;
    margin-bottom: 33px;
  }
  &__body {
    max-width: 515px;
    @include body-text;
  }
  &__image {
    max-width: 679px;
  }
}
