@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav__button {
  background: #f3f3f3;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 76px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  gap: 10px;
}

.hero__button {
  background: #f3f3f3;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 76px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  gap: 10px;
  background-color: hsl(322deg, 100%, 66%);
  max-width: 280px;
  color: #fff;
  margin-top: 66px;
}

.CTA__button {
  background: #f3f3f3;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 76px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  gap: 10px;
  background-color: hsl(322deg, 100%, 66%);
  color: #fff;
  margin-bottom: 68px;
}

body {
  font-size: 18px;
  background-image: url(/images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
}

.nav {
  margin: 0 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

main {
  margin: 0 73px 330px 73px;
}

.hero {
  display: flex;
  flex-direction: row;
  margin-top: 98px;
  margin-bottom: 95px;
}
.hero__text {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 87px;
}
.hero__header {
  max-width: 384px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 33px;
}
.hero__body {
  max-width: 515px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: hsl(192deg, 100%, 9%);
  font-weight: 400;
}
.hero__image {
  max-width: 679px;
}

.features {
  max-width: 1294px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.1);
  padding: 37px;
  margin-bottom: 50px;
}
.features__text {
  display: flex;
  flex-direction: column;
  margin: 75px 113px 51px 113px;
  max-width: 485px;
}
.features__header {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: hsl(192deg, 100%, 9%);
}
.features__image {
  max-width: 440px;
  max-height: 361px;
}
.features__body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: hsl(208deg, 11%, 55%);
}

.CTA {
  width: 732px;
  position: absolute;
  top: 2260px;
  left: 360px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 3;
}
.CTA__header {
  color: hsl(192deg, 100%, 9%);
  font-family: "Poppins", sans-serif;
  margin-top: 101px;
  margin-bottom: 46px;
}

.footer {
  z-index: 1;
  background: hsl(192deg, 100%, 9%);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-left: 112px;
}
.footer__logo {
  margin-top: 209px;
}
.footer__information {
  margin-top: 81px;
}
.footer__contact {
  margin-right: 133px;
}
.footer__contact__info {
  display: flex;
  flex-direction: row;
}
.footer__contact__info img {
  margin-right: 16px;
  max-height: 18px;
}
.footer__contact__info__text {
  max-width: 292px;
  margin-bottom: 28px;
}
.footer__information {
  display: flex;
  flex-direction: row;
}
.footer__sitemap {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 76px;
}